.add-photo-card {
    /* Auto layout */
    display: flex;
    font-size: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    min-height: 500px;
    width: 465px;

    background: #Fefefe;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;

    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.add-photo-title {
    margin: 20px;
    font: 'Popins', regular;
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.add-photo-browse {
    margin: 0px;
    padding: 10px;
    min-width: 300px;
    font-size: 16px;
    transition: border 0.3s ease;
    border-radius: 4px;
    border: 1px solid gray;
    transition: 0.3s ease;
}

.add-photo-browse:focus {

    font-weight: 500;
    /* identical to box height, or 140% */
    /* Inside auto layout */
    color: black;
    outline: none;
    border: 1.5px solid #F15A24;

}

.add-photo-preview-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.add-photo-image-preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.add-photo-crop-container {
    color: #Fefefe;
    /* Obavezno! */
    width: 100%;
    /* Postavi širinu po potrebi */
    height: 400px;
    margin: 0px;
    overflow: hidden;
    /* Visina za prikaz croppera */
    /* Sprečava da sadržaj izlazi van */
}

.dimmer {
    position: fixed;
    /* Sticks the overlay to the entire screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /* Semi-transparent background */
    z-index: 999;
    /* Ensure it's above other content */
}

.add-photo-remove-button {
    color: red;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #Fefefe;
}

.add-photo-remove-button:hover {
    color: darkred;
}

.add-photo-crop-buttons {
    position: absolute;
    bottom: 10px;
    /* Dugmad na dnu crop-containera */
    left: 50%;
    transform: translateX(-50%);
    /* Centriraj dugmad horizontalno */
    display: flex;
    gap: 10px;
}

.add-photo-save-button,
.add-photo-cancel-button,
.add-photo-continue-button {
    background-color: #F15A24;
    color: white;
    border: none;
    margin: 10px;
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 16px;
}

.add-photo-save-button:hover,
.add-photo-cancel-button:hover,
.add-photo-continue-button:hover {
    background-color: #e64a19;
}
.clickable-location {
    color: #e64a19;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .clickable-location:hover {
    color:#e64a19;
  }
  