.field-card-okvir {
    /* Auto layout */
    display: flex;
    font-size: 16px;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;

    width: 344px;
    height: 366px;
    overflow: hidden;

    background: #Fefefe;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.field-card-okvir:hover {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
}

.naslov {
    color: #666666;
    margin-bottom: 10px;
}

.Opis {
    /* text */
    color: #666666;
    text-align: justify;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    /* Inside auto layout */
    align-self: stretch;
    font-stretch: expanded;
}

.Opis p {
    margin: 0;
    /* Uklanja defaultne margine */
    margin-bottom: 10px;
    /* Minimalni razmak između paragrafa */
    font-size: 16px;
}

.field-card-header {
    /* text */
    /* media */

    width: 344px;
    min-height: 120px;

    background: #F15A24;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*padding: 20px 24px;*/
    overflow: hidden;
    /* Inside auto layout */
    flex: none;
    align-self: stretch;

    max-height: 159px;
}

.field-card-body {
    margin: 25px;
    width: 85%;
}

.fav-field-card-heading {
    /* card header */
    padding-bottom: 20px;
    gap: 15px;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* Inside auto layout */
}

.field-card-image {
    width: 100%;
    object-fit: fill;
}

.fav-field-button,
.fav-field-button FaHeart,
.fav-field-button FaRegHeart {
    color: #F15A24;
}

.fav-field-button:hover {
    color: #e64a19;
}

.EventCard-buttons {
    /* dialog button bar */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

    gap: 8px;
    padding: 10px 0px;

    /* Inside auto layout */
    align-self: stretch;
}

.EventCard-button {
    border: 2px transparent;
    background-color: #fefefe;
    color: #F15A24;
    text-transform: uppercase;

    /* text label */
    line-height: 24px;
    /* identical to box height, or 171% */
    /* Inside auto layout */

    padding: 6px 8px;
    gap: 8px;
    height: 36px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.EventCard-button:hover {
    color: #e64a19;
}

.scroll-bar-user-profile {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.scroll-bar-user-profile>* {
    flex-shrink: 0;
}