/* Menu bar container */
.menu-bar {
    background-color: #fefefe;
    width: 100%;
    min-width: 500px;
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center; /*vertical align*/
    overflow: hidden; /*clipping:figma*/
    border-bottom: 1px solid rgba(102, 102, 102, 0.25); /*stroke:figma*/
    gap:30px
  }

  .menu-left  {
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .menu-right {
    display: flex;
    gap: 10px;
    align-items:center;
    justify-content: right;
  }

  

  /* Unordered list (menu) */
  .menu {
    gap: 40px;
    list-style: none;
    display: flex;
    justify-content: left; /*horizontal align*/
    align-items: center;
  }
  
  
  /* Individual menu item */
  .menu-item {
    height: hug;
    width: hug;
  }

  .logo{
    margin-left: 20px;  
    height: 64px;
    width: 153px;
    filter: drop-shadow(-4px 4px 2px rgba(0, 0, 0, 0.25));
  }
  
  /* Links within menu items */
  .menu-item a {
    color: #666666;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  /* Hover effect for links */
  .menu-item a:hover {
    color: #000000;
  }

  .user-image {
    margin: 20px;
    width: 40px;
    height: 40px;
    justify-self: right;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image covers the entire circle */
  }

  .login-button {
    margin-right: 20px; /* Ovdje definiraš udaljenost dugmeta od desne ivice */
    padding: 10px 20px;
    background-color: #fefefe;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;

    /* Button */

    border: 1px solid #111111;

  }
  
  /* Hover effect for login button */
  .login-button:hover {
    color: #e64a19; /* Tamnija nijansa kada je dugme hoverovano */
  }

  .register-button {
    margin-right: 20px; /* Ovdje definiraš udaljenost dugmeta od desne ivice */
    padding: 10px 20px;
    background-color: #F15A24;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  /* Hover effect for login button */
  .register-button:hover {
    background-color: #e64a19; /* Tamnija nijansa kada je dugme hoverovano */
  }