.searchContainerFields {
  display: flex;
  max-width: 230px;
  width: 100%;
  height: 38px;
  padding: 10px;
  background: #fefefe;
  border-radius: 18px;
  border: 1.125px solid rgba(102, 102, 102, 0.35);
  box-shadow: -1.5px 1.5px 7.5px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  gap: 10px;
  margin-top: 3px;
  }
  
  .searchContentFields {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
/* Kontejner za rezultate */
.searchResultsFields {
    background: rgb(239, 239, 239);
    border: 1px solid rgb(239, 239, 239);
    box-shadow: 0 4px 12px rgba(228, 136, 136, 0.1);
    max-height: 150px;
    overflow-y: scroll;
    position: absolute; 
    z-index: 10;
    border-radius: 18px;
    width: 200px; 
    height: auto;
    margin-top: 118px;
    margin-left: -200px;
    top: 297px;
    left: 870px;
    text-align:justify;
    -ms-overflow-style: none; 
    scrollbar-width: none;

}
  .searchResultsList {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .searchResultsItem {
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: #8b8a8a;
    border-radius: 6px;
    border-bottom: 1px solid #d8a0a0;
    height:30px;
    text-align: center; 
    padding-top: 3px;  
    line-height: 1.2;
    white-space: nowrap; 
    text-overflow: ellipsis;
  }

  .searchResultsFields h3 {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    height: 30px;
    color: gray;
  }

  /* Liste rezultata */
.searchResultsFields ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.searchResultsFields li {
  padding: 8px 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.searchResultsFields li:last-child {
  border-bottom: none;
}

.searchResultsFields li:hover {
  background-color: #f5f5f5;
}

