.searchContainer {
  display: flex;
  max-width: 300px;
  width: 100%;
  height: 35px;
  padding: 10px;
  background: #fefefe;
  border-radius: 18px;
  border: 1.125px solid rgba(102, 102, 102, 0.35);
  box-shadow: -1.5px 1.5px 7.5px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  gap: 10px;
}



.searchContent {
  display: flex;
  justify-content: left;
  align-items: center;
}


.searchIcon {
  width: 18px;
  aspect-ratio: 1;
  object-fit: contain;
}

.searchInput {
  margin-left: 5px;
  outline: none;
  white-space: nowrap;
  border: 2px solid transparent;
  width: 80%;
}

.searchInput:focus {
  outline: none;
  /* Remove the focus outline */
  box-shadow: none;
  border-color: white;
  /* Remove focus shadow */
}

/* Kontejner za rezultate */
.searchResults {
  position: absolute;
  /* Postavlja rezultate u odnosu na roditelja */
  top: 56px;
  /* Razmak ispod polja za unos */
  right: 133px;
  width: 12%;
  /* Širina u odnosu na roditelja */
  height: auto;
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: none;
  border: 1px solid #ddd;
  /* Granica oko rezultata */
  border-radius: 10px;
  /* Zaobljeni uglovi */
  background-color: #ffffff;
  /* Bela pozadina */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* Blaga senka */
  z-index: 2000;
  /* Veći prioritet da se pojavi iznad drugih komponenti */
}

/* Naslov rezultata */
.searchResults h3 {
  margin-left: 10px;
  font-size: 15px;
  text-align: left;
  margin-top: 5px;
}

/* Liste rezultata */
.searchResults ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.searchResults li {
  padding: 8px 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.searchResults li:last-child {
  border-bottom: none;
}

.searchResults li:hover {
  background-color: #f5f5f5;
}

/* Dodaj margine na klijente i poslovne rezultate */
.clientsResults,
.businessResults {
  margin-bottom: 15px;
}