.EditUserProfileBody {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100vw;
    background-color: #fefefe;
}

/* Uredi profil */
.EditUserProfileDialog,
.EditUserProfileDialog form {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 8px;

    width: 328px;
}

.EditProfileImage {
    margin: 15px;
    border-radius: 50%;
    /* Makes the image circular */
    object-fit: cover;
    /* Ensures the image covers the entire circle */
    align-self: center;
    width: 90px;
    height: 90px;

    background: #C4C4C4;
}

.NewImage {
    margin-bottom: 28px;
    align-self: center;
    color: #F15A24;
    text-decoration: none;
    transition: color 0.3s ease;
}

.NewImage:hover {
    color: #e64a19;
}

.EditProfileLabel {
    padding-left: 17px;
}

.EditProfileInput {
    display: block;
    width: 90%;
    align-self: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    color: #666666;
    border-radius: 5px;
    /* Remove default outline */
    transition: border 0.3s ease;
}

.EditProfileInput:focus {
    color: black;
    outline: none;
    border: 1.5px solid #F15A24;
}

.EditProfileButton {
    display: block;
    align-self: center;
    width: 97%;
    padding: 10px;
    background-color: #fefefe;
    color: red;
    border: 1px solid Black;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;

    /* Rectangle 4 */
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(17, 17, 17, 0.25);
}

#PromijeniLozinkuButton {
    color: black;
}

#EditNameEmailButton {
    color: black;
}