.pocetna {
    text-align: left;
    width: 100%;
    height: 100%;
  }
  
.pocetna-header {
    background-color: #FEFEFE;
    /*min-height: 100vh;*/
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: calc(10px + 2vmin);
  }

.velika-pozadina {
  /* tennis-court-seen-from-air 1 */
  width: 100%;

}