.information-container {
  display: flex; 
  align-items: flex-start; 
}

.image-container {
  width: 60%; 
  margin-top: 80px;
}

.image-container img {
  width: 80%; 
  height: auto;
  border-radius: 10px;
  margin-left: -250px;
}

.information-text {
  font-size: 20px;
  color:black;
  position: relative; 
  top: 150px; 
  margin-left: -250px;
  margin-top:15px;
}

.information-text strong {
  font-weight: bold;
}

.sport-name {
  font-size: 20px;
}

.activity-cards-container-field {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 10px;
}

.fav-field-like-button,
.fav-field-like-button FaHeart,
.fav-field-like-button FaRegHeart {
    color: #F15A24;
    margin-top: 73px;
    margin-left: 10px;
    
}

.fav-field-like-button:hover {
    color: #e64a19;
}

.events-section {
  flex-direction: row; 
  gap: 20px; /* Razmak između pojedinačnih elemenata */
  width: 100%; /* Obezbeđuje da sekcija zauzima punu širinu */
}

.sponsored-events-section, 
.activities-section {
  display: flex;
  flex-direction: row; /* Osigurava vertikalni raspored unutar sekcije */
  gap: 10px; /* Razmak između elemenata unutar sekcije */
  width: 100%; /* Širina sekcije */
  padding: 15px; /* Dodaje unutrašnji razmak */
  border-radius: 8px; /* Zaobljeni uglovi */
  margin-left: -20px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.activity-card-review {
  flex: 1 0 300px;
  max-width: 300px;
  min-height: 280px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  transition: box-shadow 0.2s ease;
}

.scroll-bar-user-profile {
  display: flex;
  flex-direction: row; 
  width: 100%;
  gap: 20px; /* Razmak između sekcija */
}

.no-events-message {
  margin-left: 5px;
}