* {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.Tereni-header {
    position: relative;
}

.Event-cards {
    display: flex;
    width: fit-content;
    flex-direction: row;
}

.Scroll-bar {
    width: 95vw;
    overflow-x: auto;
}

.Event-bar-title {
    position: relative;
    width: 271.9px;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 34px;
    line-height: 51px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: black;
}

.Event-bar-subtitle {
    position: relative;
    width: 294.16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.03em;
    margin-left: 25px;
    color: #666666;
}

.Events-body {
    padding-left: 40px;
    width: 95vw;
    background-color: #fefefe;
}

/* Novi stilovi za sekciju mape i kalendara */
.section-title {
    font-size: 34px;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
    margin-left: 20px;
}

.section-subtitle {
    color: #666666;
    margin-left: 25px;
    font-size: 16px;
}

.map-calendar-section {
    margin-top: 20px;
}

.map-calendar-container {
    display: flex;
    justify-content: space-between;
    background-color: #fa5c16;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.map-container {
    width: 60%;
    height: 300px;
    border-radius: 10px;
}

.calendar {
    width: 35%;
}
.Field-list {
    list-style-type: none;
    padding: 0;
  }
  
  .Field-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  .reset-date-button {
    background-color: #f0f0f0; /* Svijetla pozadina */
    color: #333; /* Tamna boja teksta */
    border: 1px solid #ddd; /* Siva granica */
    padding: 8px 16px; /* Manje unutrašnje margine za manje dugme */
    font-size: 14px; /* Manja veličina fonta */
    border-radius: 4px; /* Zaobljeni uglovi */
    cursor: pointer; /* Pokazivač kursora na dugmetu */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Animacije pri hoveru */
  }
  
  .reset-date-button:hover {
    background-color: #e0e0e0; /* Tamnija pozadina pri hoveru */
    transform: scale(1.05); /* Blago uvećanje pri hoveru */
  }
  
  .reset-date-button:focus {
    outline: none; /* Uklanjanje fokusa sa dugmeta */
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1); /* Blagi okvir prilikom fokusa */
  }
  