.information-container {
  display: flex; 
  align-items: flex-start; 
}

.image-container {
  width: 60%; 
  margin-top: 80px;
}

.image-container img {
  width: 80%; 
  height: auto;
  border-radius: 10px;
  margin-left: -250px;
}

.information-text {
  font-size: 20px;
  color:black;
  position: relative; 
  top: 150px; 
  margin-left: -250px;
}

.information-text strong {
  font-weight: bold;
}

.sport-name {
  font-size: 20px;
}

.activity-cards-container-field {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 10px;
}