.userprofile-body {
  padding: 0px 40px;
  background-color: #fefefe;
}

.userprofile-header {
  /* card header */
  gap: 15px;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  /* Inside auto layout */
}

.userprofilepreview-image {
  margin: 15px;
  border-radius: 50%;
  /* Makes the image circular */
  object-fit: cover;
  /* Ensures the image covers the entire circle */
  align-self: center;
  width: 90px;
  height: 90px;

  background: #C4C4C4;
}

.name-surname-username {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.userprofile-name {
  /* događaji */

  position: relative;

  margin: 20px 0px 0px 10px;

  font-weight: 500;
  font-size: 28px;
  line-height: 51px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: black;
}

.userprofile-subtitle {
  /* Šta ima novo u gradu? */
  margin: 0px 0px 0px 10px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.03em;

  color: #666666;

  padding: 0px;
}

.userprofile-tab-button {
  border: none;
  color: #666666;
  background-color: #fefefe;
  padding: 15px 20px;
  font-size: 17px;
}

.userprofile-tab-button:hover,
.edituserprofile-button:hover {
  color: #F15A24;
}

.edituserprofile-button {
  position: absolute;
  align-self: center;
  margin-right: 40px;
  right: 0px;
  height: 50px;
  width: 50px;
  color: #666666
}

.tab-button {
  border: none;
  color: #666666;
  background-color: #fefefe;
  padding: 15px 20px;
}

.tab-button:hover {
  color: black
}

.profile-tabs {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.event-cards-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.loading-line {
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #F15A24, white);
  background-size: 200% 100%;
  /* Double the size for animation */
  animation: loading-animation 2s infinite linear;
  /* Smooth animation */
}

@keyframes loading-animation {
  0% {
    background-position: 100% 0;
  }

  50% {
    background-position: 0 0;
    /* Fully animated to the left */
  }

  100% {
    background-position: 100% 0;
    /* Reset back to the start */
  }
}

.create-event-button {
  margin-top: 10px;
  background-color: #F15A24;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 200px;
  height: 40px;
}

.create-event-button:hover {
  background-color: #e64a19;
}

.close-icon {
  z-index: 1001;
  color: #F15A24;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 25px;
  width: 25px;
  transform: translate(220px, -305px);
}

.scroll-bar-user-profile {
  width: 90vw;
  min-height: 260px;
  overflow: scroll;
  padding: 5px 0px;
  gap: 8px;
}

.spinner-border {
  display: inline-block;
  margin: 20px;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid #666666;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border 0.75s linear infinite;
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}